<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmo.hhim.micro.base.domain.mapper.process.MicroProcessStorageImportedTempMapper">

    <resultMap type="MicroProcessStorageImportedTemp" id="MicroProcessStorageImportedTempResult">
        <result property="id" column="id"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="processCode" column="process_code"/>
        <result property="processName" column="process_name"/>
        <result property="passNumAdjusted" column="pass_num_adjusted"/>
        <result property="ngNumAdjusted" column="ng_num_adjusted"/>
        <result property="remark" column="remark"/>
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="lastUpdBy"    column="last_upd_by"    />
        <result property="lastUpdDate"    column="last_upd_date"    />
    </resultMap>

    <sql id="selectMicroProcessStorageImportedTempVo">
        select id, product_code, product_name, process_code, process_name, pass_num_adjusted, ng_num_adjusted, remark, created_by, created_date, last_upd_by, last_upd_date from micro_process_storage_imported_temp
    </sql>

    <select id="selectMicroProcessStorageImportedTempList" parameterType="MicroProcessStorageImportedTemp" resultMap="MicroProcessStorageImportedTempResult">
        <include refid="selectMicroProcessStorageImportedTempVo"/>
        <where>  
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="processCode != null  and processCode != ''"> and process_code = #{processCode}</if>
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="passNumAdjusted != null "> and pass_num_adjusted = #{passNumAdjusted}</if>
            <if test="ngNumAdjusted != null "> and ng_num_adjusted = #{ngNumAdjusted}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
            <if test="lastUpdBy != null  and lastUpdBy != ''"> and last_upd_by = #{lastUpdBy}</if>
            <if test="lastUpdDate != null "> and last_upd_date = #{lastUpdDate}</if>
        </where>
    </select>
    
    <select id="selectMicroProcessStorageImportedTempById" parameterType="Long" resultMap="MicroProcessStorageImportedTempResult">
        <include refid="selectMicroProcessStorageImportedTempVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMicroProcessStorageImportedTemp" parameterType="MicroProcessStorageImportedTemp" useGeneratedKeys="true" keyProperty="id">
        insert into micro_process_storage_imported_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="productName != null">product_name,</if>
            <if test="processCode != null and processCode != ''">process_code,</if>
            <if test="processName != null">process_name,</if>
            <if test="passNumAdjusted != null">pass_num_adjusted,</if>
            <if test="ngNumAdjusted != null">ng_num_adjusted,</if>
            <if test="remark != null">remark,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="lastUpdBy != null">last_upd_by,</if>
            <if test="lastUpdDate != null">last_upd_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="productName != null">#{productName},</if>
            <if test="processCode != null and processCode != ''">#{processCode},</if>
            <if test="processName != null">#{processName},</if>
            <if test="passNumAdjusted != null">#{passNumAdjusted},</if>
            <if test="ngNumAdjusted != null">#{ngNumAdjusted},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="lastUpdBy != null">#{lastUpdBy},</if>
            <if test="lastUpdDate != null">#{lastUpdDate},</if>
         </trim>
    </insert>

    <update id="updateMicroProcessStorageImportedTemp" parameterType="MicroProcessStorageImportedTemp">
        update micro_process_storage_imported_temp
        <trim prefix="SET" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="processCode != null and processCode != ''">process_code = #{processCode},</if>
            <if test="processName != null">process_name = #{processName},</if>
            <if test="passNumAdjusted != null">pass_num_adjusted = #{passNumAdjusted},</if>
            <if test="ngNumAdjusted != null">ng_num_adjusted = #{ngNumAdjusted},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="lastUpdBy != null">last_upd_by = #{lastUpdBy},</if>
            <if test="lastUpdDate != null">last_upd_date = #{lastUpdDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMicroProcessStorageImportedTempById" parameterType="Long">
        delete from micro_process_storage_imported_temp where id = #{id}
    </delete>

    <delete id="deleteMicroProcessStorageImportedTempByIds" parameterType="String">
        delete from micro_process_storage_imported_temp where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>