<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmo.hhim.micro.base.domain.mapper.common.MicroRoleMapper">

    <resultMap type="com.cosmo.hhim.micro.base.domain.entity.common.MicroRole" id="MicroRoleResult">
        <result property="id" column="id"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="status" column="status"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastUpdBy" column="last_upd_by"/>
        <result property="lastUpdDate" column="last_upd_date"/>
    </resultMap>

    <sql id="selectMicroRoleVo">
        select id,
               tenant_code,
               role_code,
               role_name,
               status,
               created_by,
               created_date,
               last_upd_by,
               last_upd_date
        from micro_role
    </sql>

    <select id="selectMicroRoleByRoleCode" parameterType="java.lang.String" resultMap="MicroRoleResult">
        <include refid="selectMicroRoleVo"/>
        where role_code = #{roleCode}
    </select>

    <select id="selectMicroRoleList" parameterType="com.cosmo.hhim.micro.base.domain.entity.common.MicroRole" resultMap="MicroRoleResult">
        <include refid="selectMicroRoleVo"/>
        <where>
            <if test="tenantCode != null  and tenantCode != ''">and tenant_code = #{tenantCode}</if>
            <if test="roleCode != null  and roleCode != ''">and role_code = #{roleCode}</if>
            <if test="roleName != null  and roleName != ''">and role_name like concat('%', #{roleName}, '%')</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="createdBy != null  and createdBy != ''">and created_by = #{createdBy}</if>
            <if test="createdDate != null ">and created_date = #{createdDate}</if>
            <if test="lastUpdBy != null  and lastUpdBy != ''">and last_upd_by = #{lastUpdBy}</if>
            <if test="lastUpdDate != null ">and last_upd_date = #{lastUpdDate}</if>
        </where>
    </select>
    <select id="selectMicroUserRoleRe" resultType="com.cosmo.hhim.micro.base.domain.entity.common.MicroRole">
        SELECT mr.role_code as roleCode,
               mr.role_name as roleName
        FROM micro_role mr
                 INNER JOIN micro_user_role_re murr ON
                    murr.tenant_code = mr.tenant_code
                AND murr.role_id = mr.id
        WHERE murr.user_id = #{userId}
    </select>

    <insert id="insertMicroRole" parameterType="MicroRole" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into micro_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantCode != null and tenantCode != ''">tenant_code,</if>
            <if test="roleCode != null">role_code,</if>
            <if test="roleName != null">role_name,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="lastUpdBy != null and lastUpdBy != ''">last_upd_by,</if>
            <if test="lastUpdDate != null">last_upd_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantCode != null and tenantCode != ''">#{tenantCode},</if>
            <if test="roleCode != null">#{roleCode},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="lastUpdBy != null and lastUpdBy != ''">#{lastUpdBy},</if>
            <if test="lastUpdDate != null">#{lastUpdDate},</if>
        </trim>
    </insert>
    <insert id="replaceRole">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        replace into micro_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantCode != null and tenantCode != ''">tenant_code,</if>
            <if test="roleCode != null">role_code,</if>
            <if test="roleName != null">role_name,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="lastUpdBy != null and lastUpdBy != ''">last_upd_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantCode != null and tenantCode != ''">#{tenantCode},</if>
            <if test="roleCode != null">#{roleCode},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="status != null">#{status},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="lastUpdBy != null and lastUpdBy != ''">#{lastUpdBy},</if>
        </trim>
    </insert>
</mapper>