.color-333 {
  color: #333;
}

.color-999 {
  color: #999;
}

.color-5a6f82 {
  color: #5a6f82;
}

.color-a2b3cc {
  color: #a2b3cc;
}

.color-24a8ff {
  color: #24a8ff;
}

.color-e7a11a {
  color: #e7a11a;
}

.color-418CBD {
  color: #418cbd;
}

.color-eb7f00 {
  color: #eb7f00;
}

.hover-bg-fff {
  &:hover {
  }
}

.color-fff {
  color: #fff;
}

.color-666 {
  color: #666666;
}

.color-0066ff {
  color: #0066ff;
}
.color-bcc6d6 {
  color: #bcc6d6;
}
.color-c682ee {
  color: #c682ee;
}

.color-b8b8b8 {
  color: #b8b8b8;
}
.color-9badbc {
  color: #9badbc;
}
.color-b6c0c9 {
  color: #b6c0c9;
}

.color-ff0000 {
  color: #ff0000;
}
.color-19aa8d {
  color: #19aa8d;
}
.color-000b29 {
  color: #000b29;
}
.bg-c2f2ec {
  background-color: #c2f2ec;
}
.bg-fce0de {
  background-color: #fce0de;
}

.bg-fff {
  background-color: #fff;
}

.bg-fff-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-fff-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-fff-90 {
  background: rgba(255, 255, 255, 0.9);
}
.bg-fff-80 {
  background: rgba(255, 255, 255, 0.8);
}

.bg-f2f7f7 {
  background-color: #f2f7f7;
}
.bg-f2f7ff {
  background-color: #f2f7ff;
}
.bg-ebecee {
  background-color: #ebecee;
}

.bg-64B5EA {
  background-color: #64b5ea;
}

.bg-DEF2FF {
  background-color: #def2ff;
}

.bg-f3f3f5 {
  background-color: #f3f3f5;
}

.bg-ffffff {
  background-color: #ffffff;
}

.bg-ff0000 {
  background-color: #ff0000;
}

.bg-F3F3F5 {
  background-color: #f3f3f5;
}

.bg-F26A60 {
  background-color: #f26a60;
}

.bg-f7f8e7 {
  background-color: #f7f8e7;
}

.bg-19AA8D {
  background-color: #19aa8d;
}

.bg-EBF0F5 {
  background-color: #ebf0f5;
}

.bg-e5e5e5 {
  background-color: #e5e5e5;
}

.bg-efe2f7 {
  background-color: #efe2f7;
}

.bg-f5f5f5 {
  background-color: #f5f5f5;
}

.bg-D3DFEB {
  background-color: #d3dfeb;
}

.bg-FE9F00 {
  background-color: #fe9f00;
}

.bg-9badbc {
  background-color: #9badbc;
}
.bg-0066ff {
  background-color: #0066ff;
}
.bg-00112a {
  background-color: #00112a;
}
.bg-ff4655 {
  background-color: #ff4655;
}

.bg-68a2f8 {
  background-color: #68a2f8;
}
.bg-dbeaff {
  background-color: #dbeaff;
}

.bg-00bfa5 {
  background-color: #00bfa5;
}
.bg-f4bb5b {
  background-color: #f4bb5b;
}
.bg-24a8ff {
  background-color: #24a8ff;
}
.bg-fff5e3 {
  background-color: #fff5e3;
}

.bg-c16ff1 {
  background-color: #c16ff1;
}
.bg-fff3e0 {
  background-color: #fff3e0;
}
